*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none !important;
}
body{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    
}
.navbar{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.95;
}
.nav-link{
    font-weight: bold;
}
.nav-link:hover{
    color: #f60;
}
.dropdown-menu li a{
    display: flex;
    align-items: center;
}
.dropdown-menu li a:hover{
    color: #f60;
}
.dropdown-menu li a span{
    font-weight: 300;
    font-family: auto;
}
.dropdown-menu li img , .dropdown-menu li i{
    margin-right:5px ;
}

/* main content css */

.fs-heading{
    width: 40%;
}
.fs-heading h1 a{
    color: #f60;
    background-color: rgb(255, 243, 236);
    padding: 2px 0px;
}
.start-learning{
    background-color: #f60;
    border: none !important;
    padding: 10px 0px;
    width: 80%;
}
.placed-students{
    width: 40%;
}

/* second div css  */
.second-div{
    background: linear-gradient(147.76deg,hsla(0,100%,99%,.31) 2%,#f60 650%);
}
.community-heading{
    width: 40%;
}
.community-heading h5{
    margin: 10px 0px ;
}
.community-count{
    width: 40%;
}
.count h1{
    padding: 10px;
    margin: 0px 5px;
    font-weight: bolder;
    border-radius: 5px;
    background-color: black !important;
    color: white !important;
}



@media screen and (max-width: 768px){
    .fs-heading{
        width: 80%;
    }
    .placed-students{
        width: 80%;
    }


    .community-heading{
        width: 80%;
    }
    .community-count{
        width: 80%;
    }
}