
.redeem-cert{
    width: 90%;
}
.download-cert{
    width: 80%;
}


@media screen and (max-width:768px){
    .redeem-cert{
        width: 100%;
    }

    .download-cert{
        width: 100%;
    }
}