<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Let's Upgrade | Student Amb...</title>
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="studentAmb.css">
    <link rel="stylesheet" href="../footer/footer.css">
</head>
<body>

    <!-- desktop view   -->
    <div class="whatsapp d-none d-md-block">
        <a href="https://wa.me/8856823440" target="_blank" class=""><i class="bi bi-whatsapp" style="font-size: 24px; margin: 0px 4px 0px 0px;"></i> <span>Need Hepl?</span></a>
    </div>

    <!-- mobile view whatsapp  -->
    <div class="whatsapp d-block d-md-none">
        <a href="https://wa.me/8856823440" target="_blank" class=""><i class="bi bi-whatsapp" style="font-size: 30px; margin: 0px 4px 0px 0px;"></i></a>
    </div>
    <!-- NavBar global start  -->
    <nav class="navbar navbar-expand-lg sticky-top bg-body-tertiary pt-1 shadow-sm">
        <div class="container-fluid">
            <div class="nav_logo ps-4">
                <a href="../../index.html">
                    <img src="https://lucdn.letsupgrade.net/small_logo_new_0cd08c57ce.png" alt="LetsUpgrade | Together for Tomorrow" width="120">
                </a>
            </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-links d-block d-lg-flex flex-grow-1 justify-content-evenly align-items-center ps-4 ps-md-0 mt-2 mt-md-0 ms-md-5" >
                <a class="nav-link active " aria-current="page" href="../program/program.html">Programs</a>
                <a class="nav-link " aria-current="page" href="#">Student Ambassador</a>
                <a class="nav-link " aria-current="page" href="../jobs/jobs.html">Jobs</a>
                <a class="nav-link " aria-current="page" href="../Events/event.html">Events</a>
                <a class="nav-link " aria-current="page" href="../community/community.html">Community</a>
                <div class="btns">
                    <a href="../signInpage/signIn.html" class=""><button class="sign-in border-1 bg-black text-white px-3 py-1 rounded-5 me-2">Sign In</button></a>
                <a href="../signUppage/signUp.html"><button class=" border-1 px-3 py-1 rounded-5 ">Sign Up</button></a>
                </div>


                <!-- <ul class="navbar-nav ">
                    <li class="nav-item dropdown d-block d-lg-flex align-items-center">
                        <i class="bi bi-person-circle pe-2 text-danger" style="font-size: 26px;"></i>
                      <a class="nav-link dropdown-toggle p-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           UserName
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">
                            <img src="https://lucdn.letsupgrade.net/lucoin_da3692117e.png" alt="" width="20"><span>2034 Coins</span> </a></li>
                        <li><a class="dropdown-item" href="#">
                            <img src="https://lucdn.letsupgrade.net/lucoin_da3692117e.png" alt="" width="20"><span> LU Coins</span></a></li>
                        <li><a class="dropdown-item" href="#">
                            <i class="bi bi-cash-coin" style="font-size: 20px;"></i><span> Refer & Earn</span></a></li>
                        <li><a class="dropdown-item" href="#">
                            <i class="bi bi-window" style="font-size: 20px;"></i><span> My Applications</span></a></li>
                        <li><a class="dropdown-item" href="#">
                            <i class="bi bi-mortarboard" style="font-size: 20px;"></i><span> My Programs</span></a></li>
                        <li><a class="dropdown-item" href="#">
                            <i class="bi bi-file-earmark" style="font-size: 20px;"></i><span> My Exams</span></a></li>
                        <li><a class="dropdown-item" href="#">
                            <i class="bi bi-patch-check" style="font-size: 20px;"></i><span> Certificates</span></a></li>
                        <li><a class="dropdown-item" href="#">
                            <i class="bi bi-person" style="font-size: 20px;"></i><span> Profile</span></a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">
                            <i class="bi bi-box-arrow-right" style="font-size: 20px;"></i><span> Sign out</span></a></li>
                      </ul>
                    </li>
                  </ul> -->
            </div>
          </div>
        </div>
      </nav>

      <!-- NavBar global end  -->

<!-- student ambassador page -->

<div class="amb-section">
    <div class="amb-conatiner mb-5">
        <div class="amb-top-image text-center mb-5">
            <img src="https://lucdn.letsupgrade.net/assets/Become_Lets_Upgrade_Student_Ambassador_4f1e820b25.png
            " alt="" width="80%">
        </div>
        <div class="apply-btn text-center">
            <button class="bg-black text-white border-0 px-4 py-2 fs-5 fw-lighter rounded-5">
                Apply Now
            </button>
        </div>
        <div class="amb-program d-flex justify-content-center mt-5 flex-wrap">
            <div class="program-detail">
                <div class="program-heading">
                    <h1>Student <span style="color:#f60">Ambassodar</span> Program</h1>
                </div>
                <div class="program-para">
                    <p>Start your Leadership journey with LetsUpgrade’s Student Ambassador Program.</p>
                    <p>Join our Student Ambassador Program and become a leader in promoting our mission to empower students to achieve their full potential. As a Student Ambassador, you will have the opportunity to represent our organization, develop your leadership skills, and make a positive impact in your community. Join our team of dedicated and motivated individuals and help us make a difference today!</p>
                    <p>Start Earning the rewards in 3 simple steps :
                        Step 1 - Log in on letsupgrade.in and go to Refer and Earn.
                        Step 2 - You’ll get unique Referral links for every program available.
                        Step 3 - Share that link everywhere.
                        Note : If they do not use your referral <span style="color:#f60">link</span> it wouldn’t be counted as an referral. and stand a chance to win upto ₹ 15,000 worth of goodies</p>
                        <div class="apply-btn mb-3">
                            <button class="bg-black text-white border-0 px-4 py-2 fs-5 fw-lighter rounded-5">
                                Apply Now
                            </button>
                        </div>
                        <p>How to earn points and climb up the leaderboard?</p>
                        <ol>
                            <li>You get 1 point for every student who enrolls into any of the Essential Programs using your referral link</li>
                            <li>You get 4 point for every student who has not yet registered with LetsUpgrade signs up on the platform using your referral link</li>
                            <li>You get 10 points for every student who takes admission in our PGP FS Programs using your referral link</li>
                        </ol>
                </div>
            </div>
            <div class="illustrate-img d-none d-sm-block">
                <img src="https://lucdn.letsupgrade.net/New_mwmbers_1dcdc2f13b.webp" alt="" width="100%">
            </div>
        </div>
        <div class="amb-top-image text-center my-4">
            <img src="https://lucdn.letsupgrade.net/assets/SAP_1_193afa47da.png" alt="" width="80%">
        </div>
        <div class="apply-btn text-center mb-3">
            <button class="bg-black text-white border-0 px-4 py-2 fs-5 fw-lighter rounded-5">
                Apply Now
            </button>
        </div>
    </div>
</div>

<!-- student ambassador page end  -->

<!-- footer start  -->
<div class="footer-section ">
    <div class="footer-main-div">
        <div class="footer-div py-5 px-4 bg-black d-flex justify-content-around flex-wrap">
            <div class="fdiv1 mt-md-0">
                <div class="logo mb-3">
                    <img src="https://lucdn.letsupgrade.net/assets/Logo_new_clour_blk_13_3x_3fcfce370e.png" alt="" width="150">
                </div>
                <div class="fpara text-white">
                    <p>Learn. Build. Share. Grow</p>
                    <p>On a Mission to Upskill 10 Million People for Tech Industry with Live Instructors and Amazing Community for Upgrading Together</p>
                    <hr style="height: 3px; background-color: white;">
                    <p>LetsUpgrade EdTech Pvt. Ltd. © 2023</p>
                </div>
                <div class="fsocial-links d-flex justify-content-between">
                    <a href=""><i class="bi bi-youtube"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                    <a href=""><i class="bi bi-github"></i></a>
                </div>
            </div>
            <div class="fdiv2 text-white mt-md-0 mt-2">
                <div class="prg-c">
                    <p>Programs & Certificates</p>
                </div>
                <p>Full Stack Web Development Program</p>
                <hr style="height: 3px; background-color: white;">
                <p>Postman API Fundamentals Student Expert Certification</p>
                <p>JavaScript Programming Essentials Bootcamp</p>
                <p>Python Programming Essentials Bootcamp</p>
                <p>React.js Essentials Bootcamp</p>
                <p>C++ Programming Essentials Bootcamp</p>
                <p>HTML & CSS Essentials Bootcamp</p>
                <p>SQL Essentials Bootcamp</p>
                <p>Java Programming Essentials Bootcamp</p>
                <p>DSA Essentials Bootcamp</p>
                <hr style="height: 3px; background-color: white;">
                <p>Java & DSA Program</p>
            </div>
            <div class="fdiv3 text-white mt-md-0 mt-2">
                <div class="help-support">
                    <p>Help & Support</p>
                </div>
                <p>Community Guidelines</p>
                <p>Terms & Conditions</p>
                <p>Privacy Policy</p>
                <p>Contact Us</p>
                <p>About Us</p>
                <p>Refund Policy</p>
            </div>
        </div>
    </div>
</div>
<!-- footer end  -->




























    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>